:root {
    --first-color: rgb(242, 177, 234);
    --second-color: rgb(212, 171, 226);
    --third-color: rgb(194, 178, 248);
}
    
*{
padding: 0;
    margin: 0;
    text-align: center;
    color: rgb(14, 17, 230);
    text-decoration: none;
}
body {
    background: linear-gradient(180deg, var(--first-color) 0%, var(--second-color) 35%, var(--third-color) 100%);
}
    
header {
    text-align: left;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--third-color);
}
    
header h1 {
    display: inline-block;
    font-size: 48px;
    color: white; 
}
    
header nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
    
header nav ul {
    list-style-type: none;
    text-decoration: none;
}
    
header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: white; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
} 
  

.luba{
    display: grid;
    justify-content: space-around;
    margin: 15px;
}


.main-picture {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1; 
    width: 300px;
    border-radius: 10px;  
    margin: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); 
    
}

.card
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
}

.card p{
    text-align: left;
    margin: 10px;
    background: rgb(249, 220, 224);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); 
    color: black;
    padding: 10px;
}

.card p:hover {
    box-shadow: inset 0px 0px 8px white, 0 0 15px white;
}

#applications {
    margin: 5px 15px;
}
    
.grid-container {
    display: grid;
    gap: 0px;
    justify-content: space-evenly;
} 

.grid-container  .img_container1{
    grid-column: 1 ;
    grid-row: 1 / span 2;

}
.grid-container  .img_container1 img{
    width: 400px;
    height: 400px;
}

.grid-container .img_container2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

}

.grid-container .img_container3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-container .img_container4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 200px;
    height: 200px;
}


.grid-container .img_container5{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 200px;
    height: 200px;
}

.grid-container > section img{
    width: 200px;
    height: 200px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);  
    transition: all 0.3s ease-in-out; 
} 

.grid-container .img_container1 img{
    width: 400px;
    height: 400px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);  
    transition: all 0.3s ease-in-out; 
}

.grid-container > section{
    position: relative;
    text-align: center;
}

.grid-container > section .app_title{
    text-align: center;
    color: white;
}

.app_title {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.grid-container section:hover {
    transform: translateY(-5px); 
}

#contact
{
    padding:25px;
}

#contact ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    

}
#contact ul li{
    display: inline;
    font-size: 20px;
    color: white;
}
#contact ul li a{
    display: inline;
    font-size: 20px;
    color: white;
}
footer{
    padding: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: var(--first-color);
}

@media screen and (max-width: 768px) {
    
   
    .grid-container  .img_container1{
        grid-column:  1 / span 2 ;
        grid-row: 1;

    }
    .grid-container .img_container2{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    
    }
    .grid-container .img_container3{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    
    }
    .grid-container .img_container4{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    
    }
    .grid-container .img_container5{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    
    }

    .card{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2; 

}

}
  

  